---
import Avatar from '../components/Avatar.astro';
import Layout from '../layouts/Layout.astro';

const identity = {
  firstName: 'Csaba',
  country: 'Hungary',
  occupation: 'Web Developer',
  hobbies: ['WoW', 'Reading'],
};

const skills = ['HTML', 'CSS', 'JavaScript', 'VueJS', 'Astro', 'Writing Docs'];
---

<Layout title='About'>
  <main>
    <section
      class='relative isolate overflow-hidden px-6 py-12 sm:py-16 lg:px-8'
    >
      <div class='mx-auto max-w-2xl lg:max-w-4xl'>
        <div class='text-center'>
          <svg
            class='h-12 mx-auto'
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            stroke-width='1.5'
            viewBox='0 0 24 24'
            stroke='currentColor'
          >
            <path
              stroke-line-join='round'
              d='M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205l3 1m1.5.5l-1.5-.5M6.75 7.364V3h-3v18m3-13.636l10.5-3.819'
            ></path>
          </svg>
        </div>
        <figure class='mt-10'>
          <blockquote
            class='text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9'
          >
            <p>Here are some facts about me</p>
          </blockquote>
          <figcaption class='mt-10'>
            <Avatar />
            <div
              class='mt-4 flex items-center justify-center space-x-3 text-base'
            >
              <div class='font-semibold text-gray-900'>
                {identity.firstName}
              </div>
              <svg
                viewBox='0 0 2 2'
                width='3'
                height='3'
                aria-hidden='true'
                class='fill-gray-900'
              >
                <circle cx='1' cy='1' r='1'></circle>
              </svg>
              <div class='text-gray-600'>
                Developer at Zengo in 🇭🇺 {identity.country}
              </div>
            </div>
          </figcaption>
        </figure>
        <div class='mt-4 flex text-center justify-center flex-col'>
          <div class="flex w-full justify-center">
            <ul>
              <li>My name is {identity.firstName}.</li>
              <li>
                I live in {identity.country} and I work as a {
                  identity.occupation
                }.
              </li>
              {
                identity.hobbies.length >= 2 && (
                  <li>
                    Two of my hobbies are: {identity.hobbies[0]} and{' '}
                    {identity.hobbies[1]}
                  </li>
                )
              }
            </ul>
          </div>

          <div class="mt-4">
            <strong>My skills are:</strong>
          <ul>
            {skills.map((skill) => <li>{skill}</li>)}
          </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
